.DASHBOARD_CONTAINER {
  display: flex;
  .SCREEN_CONTAINER {
    width: 100%;
    margin-left: 225px;
    .SCREENS {
      margin-top: 100px;
    }
  }
}
@media screen and (max-width: 998px) {
  .DASHBOARD_CONTAINER {
    display: block;
    .SCREEN_CONTAINER {
      width: 100%;
      margin-left: 0;
      .SCREENS {
        margin-top: 0;
      }
    }
  }
}
