.SIDE_NAV {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 225px;
  background-color: #103c7e;
  .BLACK_SPOT {
    margin-top: 20px;
    background: #000;
    height: 100px;
    width: 60%;
    border-radius: 1.5rem;
  }
  .MENU_CONTAINER {
    display: flex;
    flex-direction: column;
    width: 90%;
    p {
      color: #365fa1;
    }
    .LINK_BUTTON_E {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 45px;
      border: 1px solid #305da1;
      color: #fff;
      text-decoration: none;
      border-radius: 0.8rem;
      margin-bottom: 10px;
      background-color: transparent;
      &:hover {
        background-color: #4964a9;
      }
      .LINK_IMG {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
    .LINK_BUTTON_F {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 45px;
      border: 1px solid #305da1;
      color: #fff;
      text-decoration: none;
      border-radius: 0.8rem;
      margin-bottom: 10px;
      background-color: transparent;
      &:hover {
        background-color: #4964a9;
      }
      .CON_F {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .LINK_IMG {
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
    }
  }
}
